/* Theme Name: Inpsyde Theme URI: Author: Astrit Marleku Author URI: Requires PHP: 7.0 Version: 1.0 */
 @import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@1&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Sanchez:ital@1&display=swap');
 @import url('https://css.gg/c?=|instagram');
 body {
     background: url(../../uploads/2020/04/bg-1536x864.jpg) no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     font-family: 'Teko', sans-serif;
     display: flex;
     flex-direction: column;
}
 h1 {
     font-family: 'Teko', sans-serif;
     font-size: 50px;
}
 h2 {
     font-family: 'Teko', sans-serif;
     font-size: 40px;
}
 h3 {
     font-family: 'Teko', sans-serif;
     font-size: 30px;
}
 h4 {
     font-family: 'Teko', sans-serif;
     font-size: 25px;
}
 h5 {
     font-family: 'Teko', sans-serif;
     font-size: 20px;
}
 h6 {
     font-family: 'Teko', sans-serif;
     font-size: 19px;
}
 p {
     font-family: 'Teko', sans-serif;
     font-size: 19px;
}
 .logo {
     width: 80%;
     display: flex;
     margin-left: auto;
     margin-right: auto;
}
 .header-text {
     height: 154px;
     text-align: center;
     font-family: 'IM Fell English', serif;
     letter-spacing: 0px;
     color: #000000;
     opacity: 1;
}
 .content{
     padding-top: 8rem;
}
 .content-author{
     font-size: 14px;
     font-family: 'Sanchez', serif;
}
 .image{
     width: 250px !important;
     height: 250px !important;
     object-fit: cover !important;
     border-radius: 50% !important;
}
 img{
     width: 100%;
     height: auto;
}
 .header-text .author-name {
     font-size: 30px;
}
 .vertical-menu {
     width: 100%;
}
 .vertical-menu a {
     background-color: #0F1E2D;
     color: white;
     text-align: center;
     display: block;
     margin-top: 20px;
     font-size: 30px;
     text-decoration: none;
}
 .vertical-menu a:hover {
     background-color: #0f1e2dc9;
     color: white;
}
 .vertical-menu a.active {
     background-color: #0F1E2D;
     color: white;
}
 ul {
     padding: 0;
}
 li {
     list-style-type: none !important;
}
 a{
     color: #212529;
}
 a:hover{
     text-decoration: none;
     color: #212529;
}
 .footer{
     width: 100%;
     height: auto;
     background: #0F1E2D 0% 0% no-repeat padding-box;
     opacity: 0.85;
     flex-shrink: 0;
     position: sticky;
     bottom: 0;
}
 .footer-content{
     display: flex;
     justify-content: center;
     color: white;
}
 #menu-item-55 a{
     color: white;
     padding: 1rem;
     display: block;
     font-family: 'Sanchez', serif;
     font-size: 13px;
}
 .copyright{
     color: white;
     font-family: 'Sanchez', serif;
     font-size: 13px;
     padding-top: 1rem;
     display: flex;
     justify-content: center;
}
